:root {
    /* fonts */
    --header-font: 'Gugi', cursive;
    --main-font: 'Lato', sans-serif;

    /* color palette */
    --black-chocolate: #1D1E18;
    --white: #ffffff;
    --dark-lava: #453E35;
    --hunter-blue: #007bff;
    --almond: #EDE0D4;
    --soleki-pink: #c7158b;
    ;
    --soleki-green: rgb(50, 110, 60);

    /* box shadows */
    --dark-large-box-shadow: 6px 6px 12px var(--dark-lava);
    --dark-small-box-shadow: 1px 1px 5px var(--dark-lava)
}


.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

/*colours need to be changed in the countryfield.js file too!*/

#profile-update-form .form-control {
    color: var(--soleki-green)
        /*text colour of the input*/
}

#profile-update-form input::placeholder {
    color: var(--hunter-blue)
        /*placeholder text*/
}

/*the colour of a selected country*/
#id_default_country,
#id_default_country option:not(:first-child) {

    color: var(--soleki-green)
}

/*the inicial colour of country*/
#id_default_country option:first-child {
    color: var(--soleki-pink)
}