@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

:root {
    /* fonts */
    --header-font: 'Gugi', cursive;
    --main-font: 'Lato', sans-serif;

    /* color palette */
    --black-chocolate: #1D1E18;
    --white: #ffffff;
    --dark-lava: #453E35;
    --hunter-blue: #007bff;
    --almond: #EDE0D4;
    --tuscany: #D0A4A0;
    --soleki-green: rgb(50, 110, 60);

    /* box shadows */
    --dark-large-box-shadow: 6px 6px 12px var(--dark-lava);
    --dark-small-box-shadow: 1px 1px 5px var(--dark-lava)
}

html {
    height: 100%;
}


body {
    background: url('/media/skatebg2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--black-chocolate);
    font-family: 'Gugi', cursive;
}

/* Video banner */
video {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.welcome-txt {
    margin-top: 3%;
    padding-top: 2%;

}

.logo-font {
    text-transform: uppercase;

}

.nav-logo-img {
    width: 10px;
    height: 10px;
}

/*navbar bg img and other items*/
.navbar {
    background-color: var(--soleki-green);
}

.account-colour {
    color: var(--black-chocolate);
}

.account-colour:hover {
    color: var(--soleki-green);
}

#topnav {
    background: url('/media/skatebg2.jpg') no-repeat center center fixed;

}


#main-nav {
    background: url('/media/skatebg2.jpg') no-repeat center center fixed;

}

/* header - logo */
#logo-a {
    display: block;
    margin-left: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    height: 10vh;
    width: 100%;
}

#header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-width: 99%;
    border-radius: 50%;
}

.main-soleki-logo {
    background-color: #ffc107;
}

.free-delive-font {
    background-color: #28a745;
}

.main-logo-link {
    width: fit-content;
}

.nav-item-1:hover {
    background-color: var(--dark-lava);
    z-index: 99999999999;
}

.nav-item-2:hover {
    background-color: var(--dark-lava);
    z-index: 99999999999;
}






/*Change the color on clicking the items in the navbar*/

.dropdown-item.active,
.dropdown-item:active {
    color: var(--almond);
    text-decoration: none;
    background-color: var(--black-chocolate);
    ;
}

.shop-now-button {
    background: var(--soleki-green);
    color: var(--almond);
    min-width: 171px;
    font-size: 15px;
}

.skate-snow {
    background: var(--black-chocolate);
    position: absolute;
    color: var(--almond);
    min-width: 171px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;

}


.btn-black {
    background: black;
    color: var(--almond);
}

.btn-outline-black {
    background: var(--almond);
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: var(--almond) !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: var(--almond);
}

.text-black {
    color: var(--black-chocolate) !important;
}

.border-black {
    border: 1px solid var(--black-chocolate) !important;
}

.bg-black {
    background: var(--black-chocolate) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--almond);
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: var(--almond) !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    border-radius: 10%;
}

.toast-capper {
    height: 2px;
    background-color: var(--soleki-green);
    border-radius: 10%;
}

.toast-body {
    background-color: var(--soleki-green);
    border: 1px solid var(--black-chocolate);
    border-radius: 10%;
    padding: 10px;
    line-height: 2em;
    color: var(--almond)
}

/*Checkout_success order form*/

.order-confirmation-wrapper {
    text-shadow: var(--dark-large-box-shadow);
    border: 4px solid var(--dark-lava);
    color: var(--soleki-green);
}

.order-confirmation-wrapper p {

    border: 4px solid var(--dark-lava);
    padding: 5px;

}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--black-chocolate);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: var(--black-chocolate);

    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: var(--almond);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--black-chocolate);
    border: 1px solid var(--black-chocolate);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: var(--almond);
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.card-body {
    color: var(--black-chocolate);
    text-shadow: 2px 2px 2px rgba(50, 110, 60, 0.5);

}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*products page*/

.product-txt {
    text-shadow: 2px 2px 2px rgba(50, 110, 60, 0.5);
    color: var(--black-chocolate);
    background-color: var(--almond);

}


/*Product Details*/

.product_row {
    border: 20px solid var(--black-chocolate);
}

.product-details-container {
    border: 20px solid var(--black-chocolate);
    padding: 20px;
    border-radius: 10%;
}


/*Footer*/

.footer {
    background-color: var(--black-chocolate);
    color: var(--white);
    padding: 3rem 2rem;
    margin-top: 10px;
}

.footer h4 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.footer .hr-style {
    width: 30%;
    border-color: var(--white);
    display: inline-table;
}

.footer li {
    list-style-type: none;
}

.footer ul i {
    color: var(--white);
    width: 32px;
    height: 32px;
    padding: 1.2rem 0;
    font-size: 2.5rem;
}


.footer-link {
    font-family: var(--header-font);
    font-size: 1.2rem;
    color: var(--white);
}



.footer-contact-info p {
    font-size: 1.4rem;
}

.footer ul i:hover,
.footer-nav .nav-link:hover {
    color: var(--soleki-green)
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer ul li a {
    color: var(--white);
}

/*Side scroll bar css from w3 schools 
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--almond);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--soleki-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-lava);
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }



}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .shop-now-button {
        color: var(--soleki-green);
        color: white;
        margin-left: 10%;

    }

    body {
        height: calc(100vh - 116px);
    }

    .navbar {
        color: var(--soleki-green);
    }
}

@media(max-width: 600px) {
    .shop-now-button {
        color: var(--soleki-green);
        color: white;
        margin-left: 30%;
        min-width: 100px;
    }

    .navbar {
        color: var(--soleki-green);
    }


}

@media(max-width: 500px) {
    .shop-now-button {
        color: var(--soleki-green);
        color: white;
        margin-left: 25%;
        min-width: 100px;
    }

    .navbar {
        padding: 10px;
        color: var(--soleki-green);
    }

    .nav-link {
        padding: 0;
    }
}




/*code for navbar dropdown upon hover ref https://bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }


}