<div class="collapse navbar-collapse mt-2" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item nav-item-1 dropdown hvr-box-shadow-inset ">
            <!--nav-item d-block d-md-none-->
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-white mr-5 ">
                Soleki Home
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item nav-item-2 dropdown hvr-box-shadow-inset">
            <a class="logo-font  font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item hvr-glow">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item hvr-glow">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item hvr-glow">By
                    Category</a>
                <a href="{% url 'products' %}" class="dropdown-item hvr-glow">All Products</a>
            </div>
        </li>
        {% endif %}

        <li class="nav-item nav-item-1 hvr-box-shadow-inset dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SkateBoards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=trucks,wheels" class="dropdown-item hvr-glow">Trucks &amp;
                    Wheels</a>
                <a href="{% url 'products' %}?category=flipskateboards" class="dropdown-item hvr-glow">Flip Decks</a>
                <a href="{% url 'products' %}?category=almostskateboards" class="dropdown-item hvr-glow">Almost
                    Decks</a>
                <a href="{% url 'products' %}?category=trucks,wheels,flipskateboards,almostskateboards"
                    class="dropdown-item hvr-glow">All
                    Accessories</a>
            </div>
        </li>

        <li class="nav-item nav-item-2 dropdown hvr-box-shadow-inset">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="snowboards-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SnowBoards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snowboards-link">
                <a href="{% url 'products' %}?category=mens_snowboards" class="dropdown-item hvr-glow">Men's </a>
                <a href="{% url 'products' %}?category=womens_snowboards" class="dropdown-item hvr-glow">Woman's</a>
                <a href="{% url 'products' %}?category=mens_snowboards,womens_snowboards"
                    class="dropdown-item hvr-glow">All
                    SnowBoards</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item nav-item-1 dropdown hvr-box-shadow-inset">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Enter Soleki
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item hvr-glow">New Arrivals</a>
                <a href="{% url 'skateteam' %}?teamcat=solekiskateteam" class="dropdown-item hvr-glow">Skate Team</a>
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item hvr-glow">All
                    Specials</a>
            </div>
        </li>
        {% endif %}
    </ul>
</div>